body{
    background-color:rgb(11, 244, 202);
    /*margin-top:200px;*/
    min-height: 100vh;
}
h2{
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 100;
}

ol{
    padding-left: 100px;
    align-items: center;
}
   background-color: rgb(12, 231, 45);
    gap: 10px;
    border-radius: 10px;
    height: 20vh;

#first p
     {color: red;}
     #second p
     {color: aqua;}
  
  